/*  ###########################################
    Primitives & Resets
    ########################################### */

body,div,dl,dt,dd,ul,ol,li,a,h1,h2,h3,h4,h5,h6,pre,form,fieldset,label,input,textarea,p,blockquote,table,th,td,iframe {
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    color: #333;
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 30px;
}

h1,h2,h3,h4,h5,h6 { font-weight: 900; }

h1 {
    font-size: 40px;
    line-height: 1em;
    margin-bottom: 0.66em;
    font-weight: 100;
}

p {
    font-size: 10px;
    line-height: 1em;
}

address,caption,cite,code,dfn,th,var {
    font-style: normal;
    font-weight: normal;
}

ul,ol {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

abbr, img {
    border: 0;
}

strong {
    font-weight: 900;
}

em {
    font-style: italic;
}

table {
    border-collapse: collapse;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

dl {
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0 10px;
}
    dt {
        line-height: 1.66em;
        display: block;
        font-weight: 900;
        color: #555;
    }
    dd {
        line-height: 1.66em;
        display: block;
        margin-bottom: 1em;
    }

button {
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-radius: 3px;
    color: #333;
    font: bold 14px/1 "Helvetica Neue", Helvetica;
    padding: 8px 20px;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    margin-bottom: 30px;
}

button:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}